@font-face {
    font-family: SF-Regular;
    src: url(./fonts/SF-UI-Display-Regular.otf);
}

@font-face {
    font-family: SF-bold;
    src: url(./fonts/SF-UI-Display-Bold.otf);
}


body {
    background-color: #343434;
    margin: 0;
    height: 100vh;
}

.back-nav {
    display: flex;
    width: 100%;
    background-color: #282828;
    height: 40px;
}

.front-nav {
    display: flex;
    background-color: #222222;
    justify-self: center;
    justify-content: center;
}

.text-story-name {
    display: flex;
    justify-self: left;
    align-self: center;
    margin-left: 10px;
    font-family: SF-Bold;
    font-size: larger;
    color: #FFF;
}

.header {
    display: flex;
    height: 10%;
    justify-content: center;
    background-color: #fff;
}

.header-text {
    align-self: center;
    font-family: SF-Bold;
    font-size: 35px;
}