@font-face {
    font-family: SF-Regular;
    src: url(https://nafdez.github.io/middle-point-interactive/fonts/SF-UI-Display-Regular.otf);
}

@font-face {
    font-family: SF-Bold;
    src: url(https://nafdez.github.io/middle-point-interactive/fonts/SF-UI-Display-Bold.otf);
}

html {
    background: linear-gradient(#282821, #343434) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    margin: 0;
}

.back-nav {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #282828;
    height: 40px;
}

.text-story-name {
    align-self: center;
    position: absolute;
    left: 10px;

    font-family: SF-Bold;
    font-size: larger;
    color: #FFF;
}

.text-chapter-name {
    align-self: center;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder;
    color: #FFF;
}

.outline-center {
    display: flex;
    justify-content: center;
}

.ch-outline-img {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;

    background-image: url(./../images/example.png);
    background-size: cover;

    outline: #000000;
    outline-style: solid;
    height: auto;
    max-width: 80%;
    width: auto;
}

.ch-outline-img::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.5);
}

.text {
    z-index: 1;
    text-align: center;
    font-size: px;
    font-family: SF-Bold;
    color: #F5F5F5;
}

.text-header {
    font-family: SF-Bold;
    font-size: 40px;
    text-transform: uppercase;
    color: #F5F5F5;
    text-shadow: 0px 7px 9px rgba(0, 0, 0, 0.3);
}

.header-center {
    display: flex;
    justify-content: center;
    margin-bottom: -30px;
}

/* DECISION */
.outline-text {
    max-width: 20%;
}

.outline-text::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 22px;
}

.outln {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;

    border-radius: 22px;

    outline: #000000;
    outline-style: solid;
    height: auto;
    width: auto;
}

.outln::before{
    border-radius: 22px;
}

.de-outline-img {
    background-image: url(./../images/example.png);
    background-size: cover;
    min-width: 40%;
    margin-right: 50px;
}

.de-outline-img::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.5);
}

/* Main page*/
.main {
    background: linear-gradient(#B5AC5F, #9B8C77, #9C905C) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.m-text {
    text-align: center;
    font-size: x-large;
    font-family: SF-Bold;
    color: #F5F5F5;
    margin-left: 15%;
    margin-right: 15%;
}

.all-text {
    padding-top: 15%;
}

/* Main button */
.m-button {
    transition: 0.3236006s;
    border-radius: 22px;
    height: 60px;
    width: 120px;
    box-shadow: 0px 7px 9px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    outline: none;
    
}

.meta-button {
    display: flex;
    justify-content: center;
}

.start {
    background-color: #292c2f;
    color: #d6d3d0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 1.7px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* BUTTONS AND LINKS*/
a {
    display: inherit;
    cursor: pointer;
    text-decoration: none;
}

.button {
    transition: 0.3236006s;
    border-radius: 22px;
    height: 60px;
    padding-left: 8px;
    padding-right: 8px;
    box-shadow: 0px 7px 9px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    outline: none;

    background-color: #292c2f;
    color: #d6d3d0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 1.7px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}

.meta-button {
    display: flex;
    justify-content: center;
}

table {
    border-spacing: 50px;
}

.button:hover, .m-button:hover {
    transition: 0.1618033s;
    transform: scale(1.2);
    font-weight: bolder;
}